name: Publish Package to npmjs
on:
  workflow_dispatch:
    inputs:
      version:
        description: "version (e.g. 1.2.3)"
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: 1.2.22
          registry-url: "https://registry.npmjs.org"

      - name: Set version in package.json
        run: |
          jq --arg v "${{ github.event.inputs.version }}" '.version = $v' package.json > tmp && mv tmp package.json

      - name: Publish to npm
        run: |
          echo "//registry.npmjs.org/:_authToken=${{ secrets.NPM_TOKEN }}" > .npmrc
          bun install --frozen-lockfile
          bun gen:plugins
          bun publish --access public
